@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    /* COLORS  */
    --color-white-100: hsl(0, 0%, 100%);
    --color-black-0: hsl(0, 0%, 0%);

    --color-grey-1: hsl(224, 7%, 57%);
    --color-grey-2: hsl(225, 6%, 40%);
    --color-grey-3: hsl(0, 0%, 40%);

    --color-green: hsl(135, 100%, 50%);
    
    /* ELEMENTS */
    --html-background: var(--color-black-0);
    --body-background: var(--color-white-100);
    --text-color: var(--color-black-0);

    --hero-backgroud: linear-gradient(to right bottom, var(--color-grey-1) 50%, var(--color-grey-2) 50%);
}

html {
    background-color: var(--html-background);
}

body {
    background-color: var(--body-background);
    /* max-width: 1280px; */
}
