@import '../../public/global.css';

body {
    @apply md:container md:mx-auto shadow-2xl md:my-4;
}

header{

    .topbar {
        @apply items-center text-xs italic flex flex-row justify-center md:justify-end mx-20 py-4;
    
        a {
            color: var(--color-grey-1);
            @apply mx-2;
        }

        a.topbar__text {
            @apply hidden md:block;
        }
    
        a.topbar__icon {
            border-color: var(--color-grey-1);
            @apply border border-solid rounded-full shadow-inner p-2;
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
    
    .mainbar {
        @apply flex flex-row flex-wrap mx-4 my-4 md:mx-20 justify-between;

        .logo-header {
            @apply w-52 place-self-start;
        }

        #hamburger-btn {
            @apply w-10 lg:hidden;
        }

        .menu-active {
            display: block !important;
            /* position: absolute; */
        }
    
        nav.navbar {
            @apply hidden lg:block;

            a {
                color: var(--color-black);
                text-decoration: none;
            }
            
            nav {
                font-family: monospace;
            }
            
            ul {
                /* background: darkorange; */
                list-style: none;
                margin: 0;
                padding-left: 0;
                @apply flex flex-col lg:block;
            }
            
            li {
                color: var(--color-black);
                /* background: darkorange; */
                display: block;
                float: left;
                padding: 1rem;
                position: relative;
                text-decoration: none;
                transition-duration: 0.5s;
                @apply text-lg;
            }
            
            li:hover {
                background: hsl(0, 0%, 80%);
                cursor: pointer;
            }
            
            ul li ul {
                background: hsl(0, 0%, 100%);;
                visibility: hidden;
                opacity: 0;
                min-width: 5rem;
                /* position: absolute; */
                transition: all 0.5s ease;
                margin-top: 1rem;
                left: 0;
                display: none;
                @apply text-sm lg:absolute relative;
            }
            
            ul li:hover > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
                @apply text-sm;
            }
            
            ul li ul li {
                clear: both;
                width: 100%;
                padding: 0.5rem;
                @apply text-sm;
            }
        }
    }

}

hero {
    /* background: var(--hero-backgroud); */
    background-color: black;
    @apply flex flex-col md:flex-row;

    picture {
        @apply md:w-1/3 md:ml-20;

        img {
            @apply object-contain w-full p-4 md:pb-0 md:pl-0;
        }
    }
    .hero-text-box {
        @apply w-2/3 flex flex-col justify-center p-4;

        p {
            @apply text-xl md:text-2xl;
            color: var(--color-white-100);
        }

        p:nth-child(1) {
            @apply mb-4;
            width: 25ch;
        }

        p:nth-child(3) {
            @apply text-sm md:text-base italic;
        }
    }
}

section {

    h3.section__tille {
        @apply text-3xl font-bold border-b-2 border-black;
    }

}

section.posts-section {
    @apply mx-4 md:mx-20;

    .post__preview__list{
        @apply flex flex-col md:flex-row mt-8;

        .post__preview {
            @apply w-full md:w-1/3 text-justify md:ml-10 mb-12;

            &:nth-child(1) {
                @apply ml-0;
            }

            .post_tittle {
                @apply text-xl font-bold py-2;
            }

            .post_description {
                @apply text-base;
            }
        }
    }
}

section.services-section {
    @apply mx-4 md:mx-20;

    .services__preview__list{   
        @apply flex flex-col md:flex-row mt-8;

        .service_preview{
            @apply w-full md:w-1/3 text-justify md:ml-10 mb-10;

            &:nth-child(1) {
                @apply ml-0;
            }

            .service_tittle {
                @apply text-xl font-bold py-2;
            }

            .service_description {
                @apply text-base;
            }
        }
    }
}

section.expirence-section {
    @apply mx-4 md:mx-20;
    
    .expirence__list {
        @apply grid grid-cols-5 gap-4 mt-8;
    }
}

section.podcasts-section {
    @apply mx-4 md:mx-20;

    .podcasts__preview__list{   
        @apply flex flex-col md:flex-row mt-8;

        .podcast_preview{
            @apply w-full md:w-1/3 text-justify md:ml-10 mb-10;

            &:nth-child(1) {
                @apply ml-0;
            }

            .podcast_tittle {
                @apply text-xl font-bold py-2;
            }

            .podcast_description {
                @apply text-base;
            }

            a.podcast_button {
                @apply flex flex-row text-sm md:text-xs justify-end items-center p-4;

                span {
                    @apply px-2;
                }

                svg {
                    @apply w-8 h-8;
                }
            }
        }
    }
}

footer {
    background-color: var(--color-grey-1);

    .footer__menu {
        color: var(--color-white-100);
        @apply flex flex-row py-8 px-4 md:px-20 justify-between;

        ul {

            li {
                @apply text-xl font-bold;

                ul {

                    li {
                        @apply text-base font-normal;
                    }
                }
            }
        }

        .footer__list {
            @apply w-full md:w-1/3;

        }
    }

    #footer-logo {

        @apply md:block w-40 md:w-40;

        svg {
            color: var(--color-white-100);
            fill: var(--color-white-100);
        }
    }

    p.rights {
        background-color: var(--color-grey-3);
        color: var(--color-white-100);
        @apply p-4 md:px-20 text-xs italic;
    }
}